<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Details Department</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Details Department
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${transaction.getId()}"></td>
                        </tr>
                        <tr>
                            <th>amount</th>
                            <td th:text="${transaction.getAmount()}"></td>
                        </tr>
                        <tr>
                            <th>category</th>
                            <td th:text="${transaction.getCategoryId()}"></td>
                        </tr>
                        <tr>
                            <th>account</th>
                            <td th:text="${transaction.getAccountId()}"></td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td th:text="${#calendars.format(transaction.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
