<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Users</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    All Users
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>id</th>
                            <th>name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user,iter : ${users}">
                            <td th:text="${iter.count}"></td>
                            <td>
                                <a th:href="@{'/users/' + ${user.getId()}}"
                                   type="button"
                                   class="btn btn-link">view</a>
                            </td>
                            <td th:text="${user.getName()}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <a th:href="@{'/users/new'}"
                       type="button"
                       class="btn btn-primary">new</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
