<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>authors</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="author,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${author.getFirstName()}"></td>
        <td th:text="${author.getLastName()}"></td>
        <td>
            <a th:href="@{'/books?authorId=' + ${author.getId()}}" th:text="${author.getBookCount()}" type="button" class="btn btn-link">details</a>
        </td>
        <td>
            <a th:href="@{'/authors/details/' + ${author.getId()}}" type="button" class="btn btn-primary">details</a>
        </td>
        <td>
            <a th:href="@{'/authors/delete/' + ${author.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>

</div>

</body>
</html>
